:root {
  --main-width: 300px;
}

body * {
  font-family: 'Roboto', sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: var(--main-width);
  margin: 50px auto 0;
  background: black;
}

i {
  pointer-events: none;
  font-size: 22px;
}

.calculator-input {
  background: black;
  color: white;
  border: none;
  border-bottom: 1px solid #2b2626;
  height: calc(var(--main-width) / 4);
  resize: none;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  word-wrap: anywhere;
  font-size: 22px;
}

.calculator-output {
  width: 100%;
  font-size: 15px;
  grid-column-start: 1;
  grid-column-end: 5;
  color: grey;
  padding: 5px 15px;
  box-sizing: border-box;
  word-wrap: anywhere;
  font-size: 22px;
}

.calculator-output span,
.calculator-input span {
  float: right;
  font-size: 25px;
}

.calculator-buttons {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
}

button {
  border: none;
  background: transparent;
  outline: none;
  height: calc(var(--main-width) / 4);
  text-align: center;
  padding: 0;
  width: calc(var(--main-width) / 4);
  color: white;
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
  border-radius: calc(var(--main-width) / 4);
  font-size: 22px;
}
button:hover {
  background: #3c3f42 radial-gradient(circle, transparent 1%, #3c3f42 1%)
    center/15000%;
}
button:active {
  background-color: #6e7071;
  background-size: 100%;
  transition: background 0s;
}
.calculator-submit {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100px;
}

.operation-button {
  color: #ff7433;
}

.preloader-wrapper{
  margin-top: 150px;
}

.grid-container{
  padding: 50px;
  text-align: center;
  min-height: 600px;
}

#current-page {
  width: 30px;
  height: 30px;
}

#no-results{
  display: none;
}

#no-results.show{
  display: block;
}

table th{
  cursor: pointer;
}

.sort-controls{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.sort-controls i{
  top: 5px;
  position: absolute;
  opacity: 0;
  transition-duration: 0.3s;
}
th:hover .sort-controls i{
  opacity: 1;
}